#judul-unik {
    color: blue
}
.login-aja {
    background: green;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.logout-bang {
    background: red;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
#ini-beda {
    color: red;
}